@font-face {
  font-family: "Poppins Thin 100";
  src: url(/Fonte/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins Regular 400";
  src: url(/Fonte/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Semibold 600";
  src: url(/Fonte/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins Bold 700";
  src: url(/Fonte/Poppins-Bold.ttf);
}

body {
  margin: 90px 0px;
  font-family: "Poppins Regular 400";
  background-color: #eee;
}
h1 {
  font-family: "Poppins Bold 700";
  font-size: 25px;
  color: #fff;
}
h2 {
  font-family: "Poppins Thin 100";
  font-size: 15px;
}
.logo {
  width: 20px;
}
.header {
  background-color: #226ed8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #ffc93f 0%, #ffc93f 0.01%, #ffe03f 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    269.72deg,
    #222222 0.23%,
    #111111 0.24%,
    #2e2e2e 99.76%
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  background-color: #114fa7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  align-self: end;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.semibold {
  font-family: "Poppins semibold 600";
}

.frase-do-dia {
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 10px;
  margin: 20px 20px;
  width: 600px;
}
.frase-do-dia-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 20px;
  padding: 20px;
  align-items: center;
}
.frase-do-dia-itens p {
  font-size: 12px;
}
.frase-do-dia-itens h3 {
  font-size: 14px;
  margin: 0px;
}
.frase-frase {
  grid-column: 2;
}
.imglamapada {
  color: #fbb910;
  width: 20px;
}

.Titulos {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 30px;
}

.Titulos h3 {
  display: flex;
  align-items: center;
  font-family: "Poppins Regular 400";
  font-size: 20px;
}

h4 {
  font-size: 14px;
  font-family: "Poppins Bold 700";
}

.add {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.afazermais {
  display: flex;
  justify-content: space-between;
}

.and {
  display: grid;
  justify-content: space-between;
}
.fei {
  display: grid;
  justify-content: space-between;
}

.add img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  align-self: center;
}

.Titulos .tasksdisp {
  width: 293px;
  height: 337px;
  background: #e5e5e5;
  border-radius: 10px;
  margin-top: 8px;
  padding: 20px 20px;
  gap: 14px;
}

.tarefa {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 10px;
}

.tarefacima {
  display: flex;
  justify-content: space-between;
}
.tarefacima img {
  width: 20px;
  height: 20px;
}

.tarefabaixo {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.tarefabaixo img {
  width: 15px;
  height: 15px;
}

.descricao {
  display: flex;
  gap: 5px;
  padding: 0px 0px;
}

.descricao h5 {
  align-self: center;
  margin: 0px 0px;
  font-family: "Poppins Thin 100";
}

.botaodelete {
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-color: #fff;
  color: #df0000;
  font-family: "Poppins Regular 400";
  padding: 2px;
}

section#fundomodal {
  display: none;
}

section#fundomodal.mostrar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

#modal {
  background-color: #fff;
  width: 474px;
  height: 421px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
}

.modaltitulo {
  display: grid;
  grid-template-columns: auto 30px;
  padding-right: 50px;
  padding-top: 30px;
}

.modaltitulo #fecharmodal {
  width: 30px;
  height: 30px;
  align-self: center;
  justify-self: end;
}

.modaltitulo #titulonovatask {
  position: absolute;
  max-width: 160px;
  left: 470px;
  top: 275px;
}

.modalform label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.modalform {
  padding: 10px 50px;
  display: flex;
  align-content: center;
}

.modalform input {
  background: #eeeeee;
  border-radius: 10px;
  border-width: 0px;
  outline: none;
  padding-left: 10px;
}

.modalform textarea {
  background: #eeeeee;
  border-radius: 10px;
  border-width: 0px;
  outline: none;
  resize: none;
  padding-left: 10px;
  padding-top: 5px;
}

#get-nome {
  width: 374px;
  height: 40px;
}

#get-desc {
  width: 374px;
  height: 90px;
}

#fecharmodal:hover {
  cursor: pointer;
}

#submit {
  background: linear-gradient(90.35deg, #4890f5 0%, #226ed8 99.7%);
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
  cursor: pointer;
}
